
//
// VARIABLES
//

// Colors
$blue: #4183C4; 

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Î¢ÈíÑÅºÚ, Helvetica, Arial, sans-serif;
$helveticaNeue: Î¢ÈíÑÅºÚ, "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Î¢ÈíÑÅºÚ, Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}